@import './variables';

.card-work {
  @extend .bg-light;
  @extend .my-5;
  @extend .rounded;

  h2 ~ p {
    @extend .lead;
    font-size: 22px;
  }

  h3 ~ p {
    @extend .lead;
    font-size: 22px;
  }

  ul {
    padding: 0 0 0 18px;
    margin: 0;
    li {
      margin-bottom: 15px;
    }
  }

  .preview {
    background-color: #333;
    padding: 30px;
    flex: 1;
  }

  .content {
    @extend .p-5;
    position: relative;
    overflow: hidden;
    flex: 1;
  }

  .screen {
    border-radius: 5px;
  }

  .blob {
    position: absolute;
    right: 0px;
    bottom: -60px;
  }

  &--mini {
    @extend .bg-white;
    @extend .py-3;
    @extend .py-md-5;
    img {
      height: 230px;
      object-fit: cover;
    }
    h2 {
      @extend .mt-4;
      font-size: 23px;
    }
  }
}

.card-review {
  @extend .rounded;
  @extend .my-3;
  @extend .mr-2;
  @extend .p-4;
  @extend .bg-light;
  font-size: 20px;
  color: #888;
  .reviewer {
    color: #333;
  }
}
